numpy==1.19.2
nltk==3.6.2
altair==4.1.0
joblib==1.0.1
emoji==1.2.0
googletrans==3.0.0
gensim==3.8.3
seaborn==0.11.1
streamlit==0.82.0
langdetect==1.0.8
scipy==1.5.4
pandas==1.2.4
xgboost==1.4.2
deep_translator==1.4.2
matplotlib==3.3.2
scikit_learn==0.24.2
vaderSentiment==3.3.2
wordcloud==1.8.1
