seaborn==0.11.1
gensim==3.8.3
streamlit==0.82.0
altair==4.1.0
deep_translator==1.4.2
pandas==1.2.4
numpy==1.19.2
matplotlib==3.3.2
langdetect==1.0.8
xgboost==1.4.2
googletrans==3.0.0
emoji==1.2.0
scipy==1.5.4
joblib==1.0.1
nltk==3.6.2
Pillow==8.2.0
scikit_learn==0.24.2
vaderSentiment==3.3.2
wordcloud==1.8.1
xlrd==1.2.0
