googletrans==3.0.0
altair==4.1.0
numpy==1.19.2
pandas==1.2.4
langdetect==1.0.8
deep_translator==1.4.2
scipy==1.5.4
nltk==3.6.2
emoji==1.2.0
matplotlib==3.3.2
gensim==3.8.3
xgboost==1.4.2
joblib==1.0.1
streamlit==0.82.0
scikit_learn==0.24.2
vaderSentiment==3.3.2
